@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";

#root{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  max-width: 100% !important;
  /* background-image: url("https://enohm.net/wp-content/uploads/2024/06/Enohm-GmbH-1.jpg");
  background-position: 100% 100%;
  background-size: cover; */
  font-family: "Cairo", sans-serif;
 
}

html{
  scroll-behavior: smooth;
}